@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --cor-fundo-principal: #000000;
    --cor-letra-princial: white;
    --cor-box: #6913DB;
    --cor-detalhe-letra: linear-gradient(to right, #EF0091 , #02DAD3 50%);
    --cor-detalhe-borda: linear-gradient(225deg, #EF0091 , #02DAD3 80%);
}


*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body{
    background-color: var(--cor-fundo-principal);
    color: var(--cor-letra-princial);
}

header{
    height: auto;
    color: var(--cor-letra-princial);    
    padding: 0 50px;
    margin: 0 2%;
}

#nome-página {
    padding: 3% 0;
}

h1, h2 {
    background-image:var(--cor-detalhe-letra);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding: 3px 0px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav > a {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px 25px 10px;
    text-align: center;
    width: 80px;
    text-decoration: none;
    border: 1px solid var(--cor-box);
    color: var(--cor-letra-princial);
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5px;
}

nav > a:hover{
    background-color: var(--cor-box);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.116);
}

nav > a:active {
    transform: translateY(3px);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
}

div.container__estilo-borda {
 
    background: var(--cor-detalhe-borda);
    border-radius: 15px 0;
    padding: 10px 0px 0px 10px;
    height: auto;
    max-width: 800px; 
}

.container__texto {
    background-color:var(--cor-box);
    display: inline-block;
    border-radius: 15px 0;
    text-align: justify;
    padding: 15px;
    margin: auto;
    height: auto;
    max-width: 800px; 
}

.container__foto {
    display: inline-block;
    width: 100%; 
    width: auto;
    margin: 20px;
}

.foto2 {
    display: flex;
    flex-wrap: nowrap;
    height: 300px; 
    width: auto;
    margin: 20px;
}

.container__texto > p{
    padding: 5px 20px 10px 20px;
    margin: 0px;
    text-indent: 15px;
}

footer{
    padding: 5px;
    text-align: center;
    font: 10px Arial;
    margin-top: 10px;
}

.container__contato {
    padding: 10px;
    text-align: justify;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.container__contato__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;    
}
.container__contato__item > a {
    text-decoration: none;
    color: var(--cor-letra-princial);
    padding: 4px;
}

.container__contato__item a:hover {
    text-decoration: underline;
}

.container__contato__item > img {
    width: 30px;
    padding: 8px;
}

#projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.projetos_link > img{
    max-width: 500px;
}






