@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --cor-fundo-principal:	#121E2C;
  --fundo-secundario: #142e49;
  --letra-princial:	#E5E5E5;
  --letra-secundaria:	#A6DBE1;
  --letra-terciaria: #0D1724;
  --caixas-detalhes:	#E5E5E5;
  --fonte-detalhe: "Poppins";
  --fonte-texto: "Inter";
}

* {
  padding: 0;
  margin: 0;
  color: var(--letra-princial);
}

body {
  font-family: var(--fonte-texto);
  background-color: var(--cor-fundo-principal);
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header nav {
  margin: 2% 5% 2% 0;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
header nav ul li {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  margin: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
}

main {
  align-items: center;
}
main h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
  margin: 0 10%;
}
main #nome-pagina {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}
main #nome-pagina img {
  max-width: 150px;
}
@media (min-width: 1200px) {
  main #nome-pagina {
    margin: 0 15%;
  }
}
main #nome-pagina #texto {
  padding: 30px 0px;
}
main #nome-pagina #texto h1 {
  font: italic 3rem "Playfair Display", serif;
  color: var(--letra-secundaria);
  text-align: center;
  max-width: 600px;
}
@media (max-width: 480px) {
  main #nome-pagina #texto h1 {
    font-size: 2.5rem;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  main #nome-pagina #texto h1 {
    font-size: 4rem;
    padding: 20px;
  }
}
main #nome-pagina #texto h2 {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}
main #nome-pagina #texto p {
  text-align: justify;
  margin: 0 10%;
  padding: 10px;
}
main #inicio-pagina {
  background-color: var(--fundo-secundario);
  padding-bottom: 3%;
}
main #inicio-pagina div {
  max-width: 1000px;
  min-width: 80%;
  margin: auto;
  background-color: var(--fundo-secundario);
}
main #inicio-pagina div p {
  text-align: justify;
  margin: 0 10%;
  padding: 10px;
}
main #sobre-mim {
  margin-top: 40px;
  min-width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main #sobre-mim .img-timeline {
  width: 800px;
  height: auto;
  max-width: 100%;
  padding: 30px 0;
}
@media (max-width: 1000px) {
  main #sobre-mim .img-timeline {
    width: 350px;
  }
}
main #sobre-mim p {
  text-align: justify;
  margin: 0 10%;
  padding: 10px;
}
main #container-formacoes {
  background-color: var(--fundo-secundario);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
main #container-formacoes #formacoes {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 5px 5px 10px #121E2C;
  border-radius: 10px;
}
@media (max-width: 700px) {
  main #container-formacoes #formacoes {
    margin: 0 10%;
  }
}
main #container-formacoes #formacoes p {
  background-color: var(--cor-fundo-principal);
  text-align: justify;
  padding: 10px;
}
main #container-formacoes #lista-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10%;
}
@media (max-width: 1500px) {
  main #container-formacoes #lista-cursos {
    justify-content: space-evenly;
    padding: 0 10% 5% 10%;
  }
}
main #container-formacoes #lista-cursos .cursos {
  background-color: var(--cor-fundo-principal);
  padding: 30px 30px;
  margin: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: 5px 5px 10px #121E2C;
}
main #container-formacoes #lista-cursos .cursos h4 {
  text-align: justify;
  font-size: 1.3rem;
  padding: 10px 0;
}
main #container-formacoes #lista-cursos .cursos ul {
  list-style: none;
}
main #container-formacoes #lista-cursos .cursos ul p {
  padding: 10px 0;
  text-align: justify;
  margin: 0 5%;
}
main #projetos {
  background-color: var(--cor-fundo-principal);
  padding: 3% 0;
}
main #projetos #card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main #projetos #card .cards-projeto {
  display: flex;
  flex-direction: column;
  background-color: var(--caixas-detalhes);
  border-radius: 5px;
  box-shadow: 2px 5px 20px #0D1724;
  min-width: 100px;
  max-width: 300px;
  margin: 2px;
  padding: 3px 0px;
  margin-top: 40px;
}
main #projetos #card .cards-projeto img {
  width: auto;
}
main #projetos #card .cards-projeto h4 {
  text-align: center;
  padding: 15px;
  color: var(--letra-terciaria);
}
main #contato {
  padding-bottom: 2%;
}
main #contato .contato-links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
main #contato .contato-links a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 130px;
  align-items: center;
  margin: 10px 30px;
}
main #contato .contato-links a img {
  width: 40px;
  padding: 10px;
}

footer {
  background-color: var(--fundo-secundario);
  padding: 2%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */