@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --cor-fundo-principal:	#070008;
  --fundo-secundario: #b093ff;
  --letra-principal:	#cccace;
  --letra-secundaria:	#5f76fc;
  --letra-terciaria: #0D1724;
  --caixas-detalhes:	#E5E5E5;
  --fonte-detalhe: "Poppins";
  --fonte-texto: "Inter";
}

* {
  padding: 0;
  margin: 0;
  color: var(--letra-principal);
}

body {
  font-family: var(--fonte-texto);
  background: linear-gradient(0deg, #2f0494, #170155, #070018);
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header nav {
  margin: 2% 5% 2% 0;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
header nav ul li {
  display: flex;
  justify-content: left;
  width: 100px;
  padding: 10px;
  margin: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
}
header nav ul li:hover {
  background-color: var(--letra-secundaria);
  border-radius: 5px;
}

main {
  align-items: center;
}
main #nome-pagina {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  width: 70%;
  margin: auto;
}
main #nome-pagina img {
  max-width: 250px;
}
main #nome-pagina #texto h1 {
  text-align: center;
  padding: 25px 0;
  font-size: 2.8rem;
  max-width: 800px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #36BFB6, #4833EB, #EC096F, #f47215);
  background-size: 300% 100%;
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes degrade {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@media (max-width: 480px) {
  main #nome-pagina #texto h1 {
    font-size: 2.5rem;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  main #nome-pagina #texto h1 {
    font-size: 4rem;
    padding: 20px;
  }
}
main #nome-pagina #texto h2 {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}
main #nome-pagina #texto p {
  text-align: justify;
  margin: 0 10%;
  padding: 10px;
}
main #inicio-pagina {
  background-image: url(/imagens/Detalhe\ fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn 2%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #inicio-pagina div {
  max-width: 1000px;
  min-width: 80%;
}
main #inicio-pagina div h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 1rem 0 3rem;
  text-align: center;
  margin: 0 10%;
}
main #inicio-pagina div p {
  text-align: justify;
  margin: 0 2%;
  padding: 10px;
}
main #sobre-mim {
  margin-top: 50px;
  min-width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main #sobre-mim h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 1rem 0 3rem;
  text-align: center;
  margin: 0 10%;
}
main #sobre-mim p {
  text-align: justify;
  margin: 0 2%;
  padding: 10px;
}
main #sobre-mim #linhadotempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
main #sobre-mim #linhadotempo .linhadotempo {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  justify-content: space-around;
}
main #sobre-mim #linhadotempo .linhadotempo .info-linhadotempo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 420px;
}
main #sobre-mim #linhadotempo .linhadotempo .info-linhadotempo h4 {
  color: var(--letra-secundaria);
}
main #sobre-mim #linhadotempo .linhadotempo .img-linhadotempo img {
  width: 100px;
  gap: 20px;
}
main #formacoes-experiencia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
}
main #formacoes-experiencia h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 1rem 0 3rem;
  text-align: center;
  margin: 0 10%;
  width: 100%;
}
main #formacoes-experiencia p {
  padding: 5px;
}
main #formacoes-experiencia #experiencias h4, main #formacoes-experiencia #educacao h4 {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--letra-secundaria);
}
main #formacoes-experiencia #experiencias .experiencia {
  padding: 10px 20px;
  max-width: 600px;
}
main #formacoes-experiencia #experiencias .experiencia h5 {
  padding-left: 10px;
  font-size: 1.2rem;
  padding: 10px 0;
}
main #formacoes-experiencia #educacao #graduacao, main #formacoes-experiencia #educacao #cursos {
  padding: 10px 20px;
  max-width: 600px;
}
main #projetos {
  padding: 3% 0;
}
main #projetos h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 1rem 0 3rem;
  text-align: center;
  width: 100%;
}
main #projetos #card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main #projetos #card .cards-projeto {
  display: flex;
  flex-direction: column;
  background-color: var(--caixas-detalhes);
  border-radius: 5px;
  box-shadow: 2px 5px 20px #0D1724;
  min-width: 100px;
  max-width: 300px;
  margin: 2px;
  padding: 3px 0px;
  margin-top: 40px;
}
main #projetos #card .cards-projeto img {
  width: auto;
}
main #projetos #card .cards-projeto h4 {
  text-align: center;
  padding: 15px;
  color: var(--letra-terciaria);
}
main #contato {
  padding-bottom: 2%;
}
main #contato h3 {
  color: var(--letra-secundaria);
  font-size: 2rem;
  padding: 1rem 0 3rem;
  text-align: center;
  width: 100%;
}
main #contato .contato-links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
main #contato .contato-links a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 130px;
  align-items: center;
  margin: 10px 30px;
}
main #contato .contato-links a img {
  width: 40px;
  padding: 10px;
}
main #contato .contato-links a p {
  color: var(--letra-secundaria);
}

footer {
  padding: 2%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */